
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <hi>This is html!</hi>
    <p>Here's a paragraph.</p>
</body>
</html>
